.JesseP #pic {
    margin-top: 2%;
    margin-left: 18%;
    margin-right: 20%;
    left: 350px;
}

.Jesse {
    font-family: 'Times New Roman';
    color:black;
    font-size: 20px;
}
 .aboutMe{
    font-family: 'Times New Roman';
    color: black;
    font-size: 18px;
    margin-left:42%;
    margin-right:42%;
    border: solid;
    padding-bottom: .5%;
    padding-top: .5%;
}

.favLinks{
	font-family: 'Times New Roman';
    color: black;
    font-size: 20px;
    text-align: center;
    margin-left:40%;
    margin-right:40%;
    border:dotted;
    margin-bottom:.5%;
}

#button{
	background-color: yellow;
}

.quote{
	font-family: 'Times New Roman';
	color: black;
    font-size: 20px;
    text-align: center;
    margin-left:40%;
    margin-right:40%;
    border:dotted;
    margin-top: .5%;
}

.quote span{
	color:red;
}

.bae {
    font-family: 'Times New Roman';
    color: black;
    font-size: 25px;
}

.Bae {
    font-family: 'Times New Roman';
    color:black;
    font-size: 20px;
}

.Jane #jane {
    margin-top: .0001%
}

 .aboutHer{
    font-family: 'Times New Roman';
    color: black;
    font-size: 18px;
    margin-left:42%;
    margin-right:42%;
    border: solid;
    padding-bottom: .5%;
    padding-top: .5%;
}